body{
    background-color: #eee8e5;
}

/*Genericas*/
.centro{
    position: fixed;
    width: 50%;
    right: 25%;
    left: 25%;
    top: 25%;
}
/*Fin Genericas*/

/*Formulario*/
.formulario{
    max-width: 50%;
    padding: 20px;
    border-radius: 8px;
    font-family: "Helvetica";
    background-color: #ffffffd8;
    box-shadow: 10px 10px 40px black;
    box-sizing: border-box;
}

.formContainer{
    display:flex;
    justify-content: center;
    margin: 25px;
}

.formLabel{
    padding: 8px;
    font-weight: bold;
}

.radioGroup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

.botonesGroup{
    display: flex;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}

.inputsGroup{
    display: flex;
    flex-direction: column;
    padding: 8px;
    box-sizing: border-box;
}

.blueButton{
    border: none;
    background-color: #276FE6;
    color: whitesmoke;
    border-radius: 4px;
    margin: 4px;
    padding: 10px 30px;
    box-sizing: border-box;
}

.blueButton:hover{
    background-color: #3d88ff;
}

.filtros{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    background-color: rgba(22, 21, 21, 0.952);
    border-radius: 5px;
    padding: 12px;
}

.filterName{
    align-self: center;
    margin-right: 12px;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

.closeButton{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border:none;
    color:white;
    background-color: firebrick;
    text-align:center;
}

.closeButton:hover{
    background-color: red;
}

.error{
    border-radius: 3px;
    border: 1px solid firebrick;
    padding: 8px;
    box-shadow: 1px 1px 10px firebrick; 
}
/* Fin Formulario*/

input{
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;

}

select{
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: medium;
}

option{
    font-size: medium;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

header{
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: rgba(22, 21, 21, 0.952);
    border-radius: 5px;
    padding: 12px;
}

.addButton{
    text-align: center;
    background-color: #115811;
    color: whitesmoke;
    padding:8px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border:none;
    font-size: large;
}

.addButton:hover{
    background-color: rgb(17, 158, 48);
}

.tabla{
    padding: 4px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    width: 80%;
    background-color: whitesmoke;
    border: none;
    box-shadow: 10px 10px 40px black;
}

td{
    text-align: center;
}

th{
    background-color: slateblue;
    color: whitesmoke;
    font-size: large;
    padding: 5px;
}

tr:nth-child(even){
    background-color: lightblue;
}

.grilla{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tableContainer{
    display: flex;
    justify-content: center;
}